{% extends 'base_account.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-2">
        <div class="wrapper fadeInDown col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card shadow card-signin my-5">
                <div class="card-body">
                    <div class="fadeIn first mt-2 d-flex justify-content-center">
                        <i class="fad fa-chart-line-down fa-4x text-info text-center"></i>
                    </div>
                    <h1 class="text-center text-muted h5 mb-3 font-weight-bold">Connexion</h1>
                    <form class="form-signin" method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <small class="text-center shadow px-3 mb-3 form-text aler alert-warning">
                                Vous êtes connecté en tant que {{ app.user.username }}<br>
                            </small>
                            <small class="text-center shadow px-3 mb-3 form-text aler alert-warning">
                                <a href="{{ path('app_logout') }}">Se déconnecter</a>
                            </small>
                        {% endif %}

                        <div class="form-label-group fadeIn second">        
                            <input class="form-control" type="text" value="{{ last_username }}" name="username" id="inputEmail" class="form-control" required autofocus>
                            <label for="inputEmail">Identifiant</label>
                        </div>

                        <div class="form-label-group fadeIn third">        
                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                            <label for="inputPassword">Mot de passe</label>
                        </div>

                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >

                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}

                        <button class="font-weight-bold shadow btn btn-lg btn-success btn-block text-uppercase" type="submit">S'authentifier</button>
                        {# <a class="font-weight-bold shadow btn btn-lg btn-primary btn-block text-uppercase" href="{{ path('app_register') }}">Créer un compte</a> #}
                        <div class="d-flex justify-content-center">
                            <a class="text-center" href="#">Mot de passe oulblié ?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
