{% extends 'base.html.twig' %}

{% block title %}ACCUEIL{% endblock %}

{% block body %}
    <header class="py-3 mb-3 border-bottom bg-white shadow">
        <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
            <a class="navbar-brand" href="{{ path('home') }}">
                <img src="/images/logo.png" style="width: 64px">
            </a>

            <div class="d-flex align-items-center">
            <form class="w-100 me-3">
                <input type="search" class="form-control" placeholder="Rechercher..." aria-label="Search">
            </form>

            <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="registration-form">
            {{ form_start(contactForm) }}
                <h3 class="text-center" style="color: #5791ff">Formulaire de contact</h3>
                <div class="form-icon">
                    <span><i class="fad fa-align-justify"></i></span>
                </div>
                <!-- Flash message -->
                {% for label, messages in app.flashes %}
                    <div class="text-center shadow alert alert-{{ label }} font-weight-bold">
                        {% for message in messages %}
                            <p>{{ message|raw }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <!-- /Flash message -->
                <div class="form-group">
                    {{ form_errors(contactForm.lastname) }}
                    {{ form_widget(contactForm.lastname) }}
                </div>
                <div class="form-group">
                    {{ form_errors(contactForm.firstname) }}
                    {{ form_widget(contactForm.firstname) }}
                </div>
                <div class="form-group">
                    {{ form_errors(contactForm.mail) }}
                    {{ form_widget(contactForm.mail) }}
                </div>
                <div class="form-group">
                    {{ form_errors(contactForm.message) }}
                    {{ form_widget(contactForm.message) }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block submit-demand">Soumettre</button>
                </div>
            {{ form_end(contactForm) }}
            <div class="social-media">
                <h5>Nos réseaux sociaux</h5>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
