{% extends 'base_backoffice.html.twig' %}

{% block title %}DASHBOARD{% endblock %}

{% block body %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Clients</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Prospects</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ prospects|length }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Demandes traitées
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="checkedDemandsPercentageValue">{{ checkedDemandsPercentage }}%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                            style="width: {{ checkedDemandsPercentage }}%" aria-valuenow="{{ checkedDemandsPercentage }}" aria-valuemin="0"
                                            aria-valuemax="100" id="checkedDemandsPercentageProgresseBar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Demandes non traitées</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalOfuncheckedDemandsValue">{{ totalOfuncheckedDemands }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Prospect list -->
        <div class="col-xl-8 col-lg-8">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Prospects</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">#</th>
                                    <th scope="col" class="text-center">Nom</th>
                                    <th scope="col" class="text-center">Prénom</th>
                                    <th scope="col" class="text-center">Mail</th>
                                    <th scope="col" class="text-center">Demandes</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for prospect in prospects %}    
                                    <tr>
                                        <th scope="row" class="text-center">{{ prospect.id }}</th>
                                        <td class="text-center">{{ prospect.lastname }}</td>
                                        <td class="text-center">{{ prospect.firstname }}</td>
                                        <td class="text-center">{{ prospect.mail }}</td>
                                        <td class="text-center">
                                            <a class="fal fa-comment-alt-lines text-info fa-2x hvr-grow" style="position: relative; font-size: 2em; color: grey; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#prospectDemandsModal_{{ prospect.id }}">
                                                <span class="fa fa-comment" style="position: absolute; font-size: 0.6em; top: -4px; color: red; right: -4px;"></span>
                                                <span class="num text-white font-weight-bold" style="position: absolute; font-size: 0.3em; top: 1px; color: #fff; right: 2px;">{{ prospect.demands|length }}</span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for prospect in prospects %}    
        <div class="modal fade" id="prospectDemandsModal_{{ prospect.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Demandes</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h3 class="text-center text-muted">{{ prospect }}</h3>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center">#</th>
                                        <th scope="col" class="text-center">Message</th>
                                        <th scope="col" class="text-center">Status</th>
                                        <th scope="col" class="text-center">Rapport</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for demand in prospect.demands %}    
                                        <tr>
                                            <th scope="row" class="text-center">{{ demand.id }}</th>
                                            <td class="text-center">{{ demand.message }}</td>
                                            <td class="text-center checkDemandBtn">
                                                {% if demand.isCheck != true %}
                                                    <button class="btn btn-warning" onclick="checkDemand(this, {{ demand.id }})">
                                                        Traiter
                                                    </button>
                                                {% else %}
                                                    <button class="btn btn-success" onclick="uncheckDemand(this, {{ demand.id }})">
                                                        Traitée
                                                    </button>
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="downloadFile({{ demand.id }})"><i class="fas fa-download fa-sm text-white-50"></i> Rapport</button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}