<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - BACKOFFICE</title>
         <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <script src="https://kit.fontawesome.com/beb6bd422e.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Sidebar -->
            {% include "backoffice/partials/sidebar.html.twig" %}
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">
                    <!-- Topbar -->
                    {% include "backoffice/partials/topbar.html.twig" %}
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        {% block body %}{% endblock %}
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                {% include "backoffice/partials/footer.html.twig" %}
                <!-- End of Footer -->
            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js" integrity="sha512-uE2UhqPZkcKyOjeXjPCmYsW9Sudy5Vbv0XwAVnKBamQeasAVAmH6HR9j5Qpy6Itk1cxk+ypFRPeAZwNnEwNuzQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            /*
            * FileSaver.js
            * A saveAs() FileSaver implementation.
            *
            * By Eli Grey, http://eligrey.com
            *
            * License : https://github.com/eligrey/FileSaver.js/blob/master/LICENSE.md (MIT)
            * source  : http://purl.eligrey.com/github/FileSaver.js
            */

            // The one and only way of getting global scope in all environments
            // https://stackoverflow.com/q/3277182/1008999
            var _global = typeof window === 'object' && window.window === window
            ? window : typeof self === 'object' && self.self === self
            ? self : typeof global === 'object' && global.global === global
            ? global
            : this

            function bom (blob, opts) {
            if (typeof opts === 'undefined') opts = { autoBom: false }
            else if (typeof opts !== 'object') {
                console.warn('Deprecated: Expected third argument to be a object')
                opts = { autoBom: !opts }
            }

            // prepend BOM for UTF-8 XML and text/* types (including HTML)
            // note: your browser will automatically convert UTF-16 U+FEFF to EF BB BF
            if (opts.autoBom && /^\s*(?:text\/\S*|application\/xml|\S*\/\S*\+xml)\s*;.*charset\s*=\s*utf-8/i.test(blob.type)) {
                return new Blob([String.fromCharCode(0xFEFF), blob], { type: blob.type })
            }
            return blob
            }

            function download (url, name, opts) {
            var xhr = new XMLHttpRequest()
            xhr.open('GET', url)
            xhr.responseType = 'blob'
            xhr.onload = function () {
                saveAs(xhr.response, name, opts)
            }
            xhr.onerror = function () {
                console.error('could not download file')
            }
            xhr.send()
            }

            function corsEnabled (url) {
            var xhr = new XMLHttpRequest()
            // use sync to avoid popup blocker
            xhr.open('HEAD', url, false)
            try {
                xhr.send()
            } catch (e) {}
            return xhr.status >= 200 && xhr.status <= 299
            }

            // `a.click()` doesn't work for all browsers (#465)
            function click (node) {
            try {
                node.dispatchEvent(new MouseEvent('click'))
            } catch (e) {
                var evt = document.createEvent('MouseEvents')
                evt.initMouseEvent('click', true, true, window, 0, 0, 0, 80,
                                    20, false, false, false, false, 0, null)
                node.dispatchEvent(evt)
            }
            }

            // Detect WebView inside a native macOS app by ruling out all browsers
            // We just need to check for 'Safari' because all other browsers (besides Firefox) include that too
            // https://www.whatismybrowser.com/guides/the-latest-user-agent/macos
            var isMacOSWebView = _global.navigator && /Macintosh/.test(navigator.userAgent) && /AppleWebKit/.test(navigator.userAgent) && !/Safari/.test(navigator.userAgent)

            var saveAs = _global.saveAs || (
            // probably in some web worker
            (typeof window !== 'object' || window !== _global)
                ? function saveAs () { /* noop */ }

            // Use download attribute first if possible (#193 Lumia mobile) unless this is a macOS WebView
            : ('download' in HTMLAnchorElement.prototype && !isMacOSWebView)
            ? function saveAs (blob, name, opts) {
                var URL = _global.URL || _global.webkitURL
                var a = document.createElement('a')
                name = name || blob.name || 'download'

                a.download = name
                a.rel = 'noopener' // tabnabbing

                // TODO: detect chrome extensions & packaged apps
                // a.target = '_blank'

                if (typeof blob === 'string') {
                // Support regular links
                a.href = blob
                if (a.origin !== location.origin) {
                    corsEnabled(a.href)
                    ? download(blob, name, opts)
                    : click(a, a.target = '_blank')
                } else {
                    click(a)
                }
                } else {
                // Support blobs
                a.href = URL.createObjectURL(blob)
                setTimeout(function () { URL.revokeObjectURL(a.href) }, 4E4) // 40s
                setTimeout(function () { click(a) }, 0)
                }
            }

            // Use msSaveOrOpenBlob as a second approach
            : 'msSaveOrOpenBlob' in navigator
            ? function saveAs (blob, name, opts) {
                name = name || blob.name || 'download'

                if (typeof blob === 'string') {
                if (corsEnabled(blob)) {
                    download(blob, name, opts)
                } else {
                    var a = document.createElement('a')
                    a.href = blob
                    a.target = '_blank'
                    setTimeout(function () { click(a) })
                }
                } else {
                navigator.msSaveOrOpenBlob(bom(blob, opts), name)
                }
            }

            // Fallback to using FileReader and a popup
            : function saveAs (blob, name, opts, popup) {
                // Open a popup immediately do go around popup blocker
                // Mostly only available on user interaction and the fileReader is async so...
                popup = popup || open('', '_blank')
                if (popup) {
                popup.document.title =
                popup.document.body.innerText = 'downloading...'
                }

                if (typeof blob === 'string') return download(blob, name, opts)

                var force = blob.type === 'application/octet-stream'
                var isSafari = /constructor/i.test(_global.HTMLElement) || _global.safari
                var isChromeIOS = /CriOS\/[\d]+/.test(navigator.userAgent)

                if ((isChromeIOS || (force && isSafari) || isMacOSWebView) && typeof FileReader !== 'undefined') {
                // Safari doesn't allow downloading of blob URLs
                var reader = new FileReader()
                reader.onloadend = function () {
                    var url = reader.result
                    url = isChromeIOS ? url : url.replace(/^data:[^;]*;/, 'data:attachment/file;')
                    if (popup) popup.location.href = url
                    else location = url
                    popup = null // reverse-tabnabbing #460
                }
                reader.readAsDataURL(blob)
                } else {
                var URL = _global.URL || _global.webkitURL
                var url = URL.createObjectURL(blob)
                if (popup) popup.location = url
                else location.href = url
                popup = null // reverse-tabnabbing #460
                setTimeout(function () { URL.revokeObjectURL(url) }, 4E4) // 40s
                }
            }
            )

            _global.saveAs = saveAs.saveAs = saveAs

            if (typeof module !== 'undefined') {
            module.exports = saveAs;
            }

            let generateIndicatorsInfo = () => {
                return JSON.parse(
                    $.ajax({
                        url : "{{ path('backoffice_generate_indicators_info') }}", // La ressource ciblée
                        type : 'GET',
                        dataType : "json",
                        async: false // Mode synchrone
                    }).responseJSON
                );   
            }

            let checkedBtnOutputHtml = (demandId) => {
                return '<button class="btn btn-success" onclick="uncheckDemand(this, ' + demandId + ')">' +
                    'Traitée' +
                '</button>'
            }

            let uncheckedBtnOutputHtml = (demandId) => {
                return '<button class="btn btn-warning" onclick="checkDemand(this, ' + demandId + ')">' +
                    'Traitée' +
                '</button>'
            }

            let checkDemand = (btn, demandId) => {
                let parentNode = $($(btn)[0].parentNode)
                
                $.ajax({
                    url : '/backoffice/check-demand/' + demandId, // La ressource ciblée
                    type : 'GET',
                    timeout: 0,
                    async: false,
                }).done(function (response) {
                    request = JSON.parse(response)

                    $.notify("La demande a été traitée", "success"); 

                    parentNode.empty()
                    parentNode.append(checkedBtnOutputHtml(demandId))

                    let indicators = generateIndicatorsInfo();

                    $("#checkedDemandsPercentageValue").text(indicators.checkedDemandsPercentage + '%');
                    $("#checkedDemandsPercentageValue").css({"style": indicators.checkedDemandsPercentage + '%'});
                    $("#checkedDemandsPercentageValue").attr("aria-valuenow", indicators.checkedDemandsPercentage);
                    $("#totalOfuncheckedDemandsValue").text(indicators.totalOfuncheckedDemands)
                });
            }

            let uncheckDemand = (btn, demandId) => {
                let parentNode = $($(btn)[0].parentNode)

                $.ajax({
                    url : '/backoffice/uncheck-demand/' + demandId, // La ressource ciblée
                    type : 'GET',
                    timeout: 0,
                    async: false,
                }).done(function (response) {
                    request = JSON.parse(response)

                    $.notify("Changement d'état de la demande à `Non traitée`", "warning"); 
                
                    parentNode.empty()
                    parentNode.append(uncheckedBtnOutputHtml(demandId))

                    let indicators = generateIndicatorsInfo();

                    $("#checkedDemandsPercentageValue").text(indicators.checkedDemandsPercentage + '%');
                    $("#checkedDemandsPercentageValue").css({"style": indicators.checkedDemandsPercentage + '%'});
                    $("#checkedDemandsPercentageValue").attr("aria-valuenow", indicators.checkedDemandsPercentage);
                    $("#totalOfuncheckedDemandsValue").text(indicators.totalOfuncheckedDemands)
                });
            }

            let downloadFile = (demandId) => {
                $.ajax({
                    url : '/backoffice/download-file/' + demandId, // La ressource ciblée
                    type : 'GET',
                    timeout: 0,
                    async: false,
                }).done(function (response) {
                    request = JSON.parse(response)

                    var blob = new Blob([request.json],{ type: "application/json;charset=utf-8" });

                    saveAs(blob, "rapport.json");

                    $.notify(request.message, request.type);
                });
            }
        </script>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
